.comTitle {
  font-family: "PangMenZhengDao";
  width: 100%;
  height: var(--comtitle-height);
  font-size: var(--comtitle-font-size);
  color: #ffffff;
  line-height: var(--comtitle-line-height);
  letter-spacing: var(--comtitle-letter-spacing);
  text-align: left;
  text-transform: none;
  padding-left: var(--comtitle-padding-left);
  padding-top: var(--comtitle-padding-top);
  padding-bottom: var(--comtitle-padding-bottom);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  &.default {
    background-image: url("./part_title_bg.png");
  }
  &.middle {
    background-image: url("./part_right_title_bg.png");
  }
}

.rightIcon {
  padding-right: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
