.comSelect {
  width: 100%;
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-center();
  justify-content: flex-start;
  .option {
    .flex-center();
    cursor: pointer;
    padding: 10px 22px;
    background: linear-gradient(180deg, #092450 0%, #071b41 100%);
    border-radius: 4px;
    transform: skewX(-20deg);
    font-size: 20px;
    color: #77a4ed;
  }
  .active {
    background: linear-gradient(180deg, #0c4bb1 0%, #0a378d 100%);
    .arrow {
      border-top: 6px solid #fff;
    }
    .label {
      color: #fff;
    }
  }
  .label {
    transform: skewX(20deg);
  }
  .arrow {
    // 三角形
    margin-left: 14px;
    border: 6px solid transparent;
    border-top: 6px solid #77a4ed;
    transform: skewX(20deg) translateY(50%);
    margin-top: -3px;
  }
}
