@import "../../variables.less";

.AIChat {
  width: 100%;
  height: 100%;
  .flex-center();
  align-items: flex-end;
  color: #fff;
  .AIChatIframe {
    width: 100%;
    // height: 1049px;
    // margin-bottom: 94px;
    display: none;
  }
  .img {
    width: var(--AIChat-img-width);
    // height: var(--AIChat-img-height);
    aspect-ratio: 555.16 / 788;
    cursor: pointer;
  }
}

.chatModalContent {
  position: relative;
  .closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(calc(100% + 10px), -10px);
    width: 40px;
    height: 40px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
:global {
  .ant-modal-content {
    padding: 0 !important;
    background-color: transparent !important;
  }

  .ant-modal-body {
    padding: 0 !important;
  }

  .ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.6) !important;
  }
}
