@import "../../variables.less";

.AIChat {
  width: 100%;
  height: 100%;
  .flex-center();
  align-items: flex-end;
  color: #fff;
  .AIChatIframe {
    width: 100%;
    height: 1049px;
    margin-bottom: 94px;
    display: none;
  }
  .img {
    width: 555.16px;
    height: 788px;
  }
  .img:hover {
    display: block;
    border: 1px solid green;
    box-shadow: 0 0 10px 0 green;
  }
}
:global {
  .ant-modal-content {
    padding: 0 !important;
  }

  .ant-modal-body {
    padding: 0 !important;
  }
}
