.confirm {
  background: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  // border: 1px solid #1370a6;
  opacity: 0.85;
  padding: 30px 40px;

  .ant-modal-content {
    border-radius: 12px;
  }

  .content {
    color: #fff;

    .title {
      font-family: PingFangSC, PingFang SC;
      font-weight: 600;
      font-size: 16px;
    }

    .contentText {
      margin-top: 10px;
      font-size: 14px;
    }
  }

  .footer {
    padding-bottom: 30px;

    .button {
      padding: 5px 20px;
      cursor: pointer;
    }

    .cancel {
      color: #fff;
    }

    .ok {
      background: linear-gradient(270deg, #43cdff 0%, #03fce3 100%);
      border-radius: 5px;
      font-weight: 600px;
    }
  }
}
