.workModal {
  :global {
    .ant-modal-content {
      padding: 0 !important;
      background-color: transparent !important;
    }

    .ant-modal-body {
      padding: 90vh important;
    }

    .ant-modal-mask {
      background-color: rgba(0, 0, 0, 0.8) !important;
    }

    .ant-table-body {
      overflow: auto !important;
    }

    // 确保表格容器的滚动条样式也被设置
    .ant-table-container::-webkit-scrollbar {
      width: 8px;
      height: 8px; // 添加水平滚动条高度
    }

    .ant-table-container::-webkit-scrollbar-track {
      background: transparent;
    }

    .ant-table-container::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 3px;
    }

    // 处理内部滚动容器
    .ant-table-body-inner::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    .ant-table-body-inner::-webkit-scrollbar-track {
      background: transparent;
    }

    .ant-table-body-inner::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 3px;
    }
  }
}
.workModalContent {
  background-image: url("./bg.png");
  background-size: 100% 100%;
  width: 100%;
  // max-height: 72vh;
  padding: 50px 60px 80px 50px;
  background-repeat: no-repeat;
  position: relative;

  .workModalTitle {
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    line-height: 28px;
  }
  .closeIcon {
    z-index: 100000;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100%, -50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .divider {
    position: relative;
    padding-left: 20px;
    margin: 20px 0;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;

    &::before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #0df5e8;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .workMsg::-webkit-scrollbar {
    width: 6px;
  }
  // 滚动条轨道
  .workMsg::-webkit-scrollbar-track {
    background: rgba(39, 146, 240, 0.5);
    background-color: transparent;
  }

  // 滚动条滑块
  .workMsg::-webkit-scrollbar-thumb {
    background-color: #2792f0;
  }

  .workMsg {
    min-height: unset;
    max-height: 249px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #2e8fe7;
    font-size: 14px !important;
    color: #fff;
    overflow-y: auto;
    padding: 25px;
    // border-image: linear-gradient(135deg, #1ffff7, #1ffff7) 1;
    // background: linear-gradient(135deg, #1ffff7 4px, transparent 4px) 0 0,
    //   /* 右上角 */ linear-gradient(-135deg, #1ffff7 4px, transparent 4px) 100% 0,
    //   /* 右下角 */ linear-gradient(-45deg, #1ffff7 4px, transparent 4px) 100%
    //     100%,
    //   /* 左下角 */ linear-gradient(45deg, #1ffff7 4px, transparent 4px) 0 100%,
    //   linear-gradient(#1d73c0, #1d73c0);
    background: url("./leftT.png") -2px -2px,
      url("./rightT.png") calc(100% + 2px) -2px,
      url("./rightB.png") calc(100% + 2px) calc(100% + 2px),
      url("./leftB.png") -2px calc(100% + 2px),
      linear-gradient(#1d73c0, #1d73c0);
    background-repeat: no-repeat;
    :global {
      .ant-typography * {
        color: #fff !important;
      }
      .ant-typography strong,
      h3,
      h1,
      h2 {
        font-size: 14px;
      }
    }
  }
}

:global {
  .ant-table {
    font-size: 12px;
  }
  .ant-modal-body {
    &::-webkit-scrollbar {
      display: none !important;
    }
    .ant-table-cell {
      background-color: #1d73c0 !important;
      color: #fff;
      border: 1px solid #32b1eb !important;
      font-size: 12px;
      padding: 18px 28px;
    }
  }
  .ant-table-thead {
    .ant-table-cell {
      background-color: #24a7e2 !important;
      color: #fff !important;
      border: 1px solid #32b1eb !important;
      border: none !important;
      font-size: 12px;
      padding: 10px 28px;
    }
    .ant-table-cell::before {
      display: none;
    }

    .ant-table-cell-scrollbar {
      // display: none;
    }
  }

  // 在 Ant Design 5.x 版本中，滚动条样式由 scrollbar-width 和 scrollbar-color 控制，
  // 可能导致 ::-webkit-scrollbar 失效

  .ant-table-body {
    scrollbar-width: auto; /* 允许自定义滚动条样式 */
    scrollbar-color: auto;
  }
  .ant-table-header {
    .ant-table-cell-scrollbar {
      box-shadow: 0 1px 0 1px #32b1eb !important;
    }
  }

  /* 全局修改 Table 滚动条样式 */
  .ant-table-body::-webkit-scrollbar {
    width: 6px; /* 纵向滚动条宽度 */
    height: 6px; /* 横向滚动条高度 */
  }

  .ant-table-body::-webkit-scrollbar-thumb {
    background-color: #2792f0;
  }

  .ant-table-body::-webkit-scrollbar-track {
    background-color: #1d73c0;
  }
}
