.workModalContent {
  .divider {
    position: relative;
    padding-left: 20px;
    margin: 10px 0;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;

    &::before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #0df5e8;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
