* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* index.module.less */

  --header-height: 45px;
  --header-background-size: 100% calc(100% + 10px);

  --title-height: 50px;
  --title-font-size: 24px;
  --title-line-height: 50px;

  --content-wrap-padding: 0 16px;

  --select-top: 5px;
  --select-left: 16px;

  --left-item-height: calc(30vh);
  --left-item-margin-right: 20px;
  --left-item-margin-bottom: 20px;
  --center-item-padding: 0 16px 0 16px;

  --right-item-one-height: 30vh;
  --right-item-height: 30vh;
  --right-item-margin-bottom: 20px;

  --right-item-right-width: calc(50% - 10px);

  --manage-chart-item-width: calc(50% - 10px);

  --warp-padding: 16px;

  --select-margin-bottom: 5px;

  --two-trend-margin-top: 20px;

  --pie-wrap-width: 80px;
  --pie-wrap-height: 150px;

  /* comtitle.module.less */
  --comtitle-height: 30px;
  --comtitle-font-size: 14px;
  --comtitle-line-height: 30px;
  --comtitle-letter-spacing: 2px;
  --comtitle-padding-left: 10px;
  --comtitle-padding-top: 3px;
  --comtitle-padding-bottom: 10px;

  /* comtable.module.less */
  --table-padding: 10px;
  --table-font-size: 10px;

  /* comselect.module.less */
  --select-padding: 5px 10px;
  --select-font-size: 10px;
  --select-line-height: 28px;
  --select-arrow-width: 2px;
  --select-arrow-margin-left: 3px;
  --select-arrow-margin-top: -3px;

  /* comcustom.module.less */

  /* cardOne.module.less */
  --flap-item-margin-top: 20px;
  --flap-item-padding: 0 0;
  --flap-item-font-size: 16px;
  --flap-item-line-height: 40px;
  --flap-item-total-list-padding: 0 0px;
  --flap-item-total-item-width: 40px;
  --flap-item-total-item-height: 40px;
  --flap-item-total-item-line-height: 40px;
  --flap-item-total-item-margin-right: 0px;
  --flap-item-total-item-font-size: 22px;

  --card-one-icon-list-margin-top: 20px;
  --card-one-icon-list-margin-left: 16px;
  --card-one-icon-list-margin-bottom: 5px;
  --card-one-icon-list-item-width: calc(100% / 3);
  --card-one-icon-list-item-img-width: 30px;
  --card-one-icon-list-item-img-height: 30px;
  --card-one-icon-list-item-img-margin-right: 2px;

  --card-one-icon-item-content-height: 76px;

  --card-one-icon-item-title-font-size: 14px;
  --card-one-icon-item-title-margin-bottom: 3px;

  --card-one-icon-item-value-font-size: 12px;
  --card-one-icon-item-value-line-height: 12px;
  --card-one-icon-item-value-letter-spacing: 2px;

  /* cardTwo.module.less */
  --card-two-margin-top: 20px;
  --card-two-margin-left: 20px;
  --card-two-show-item-content-width: calc(100% / 2 - 20px);
  --card-two-show-item-content-height: 120px;
  --card-two-show-item-content-padding-left: 17%;
  --card-two-show-item-content-padding-bottom: 35px;
  --card-two-show-item-content-padding-top: calc(22px + 7px);
  --card-two-show-item-content-margin-bottom: 0px;
  --card-two-show-item-title-font-size: 16px;
  --card-two-show-item-title-line-height: 40px;
  --card-two-show-item-value-font-size: 14px;
  --card-two-show-item-value-line-height: 14px;

  /* cardThree.module.less */
  --card-three-width: 100px;
  --card-three-height: 120px;
  --card-three-padding-top: 10px;
  --card-three-img-width: 30px;
  --card-three-img-height: 30px;
  --card-three-img-margin-bottom: 8px;
  --card-three-title-font-size: 22px;
  --card-three-title-line-height: 22px;
  --card-three-value-font-size: 14px;
  --card-three-value-line-height: 10px;
  --card-three-value-margin-top: 2px;

  --left-flex: 3 1;
  --right-flex: 3 1;
  --center-flex: 1 1;

  --centerItem-width: 100%;
}

@media screen and (min-width: 1920px) {
  :root {
    --left-flex: 1 1;
    --right-flex: 1 1;
    --center-flex: 1 1;
    --centerItem-width: 50%;
  }
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
